<script lang="ts">
    import {store} from '$lib/store/store.ts'
	import Checked from '../checked/Checked.svelte';
    import {addTask} from '../../services/taskService.ts'

    let isChecked = false
    let value = ''

    const handleSubmit= async (e: KeyboardEvent)=>{
        if (e.key === 'Enter' && value.trim() !== '') {
            store.addTask({id: $store.length + 1, title: value, completed: false})
            addTask(value)
            value = ''
            isChecked = false
        }
      
    }
    const handleCheck = () => {
        store.toggleAllCompleted()
        isChecked = !isChecked
}

</script>
<div class="flex dark:bg-[#24273D] w-full justify-evenly gap-4 items-center bg-white max-w-3xl mx-auto px-4  rounded-md h-14">
    <div >
        <Checked  on:handleCheck={handleCheck} isChecked={isChecked}/>
    </div>
    <input on:keydown={(e)=> handleSubmit(e)} name="task"  class="w-full h-full bg-transparent outline-none dark:text-white placeholder:text-gray-500 md:text-lg dark:placeholder:text-gray-400" placeholder="Create a new todo..." type="text" bind:value>
</div>