<script>
	import iconCheck from '$lib/assets/icons/icon-check.svg';
    export let isChecked =false;
    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();
</script>

<button  on:click={()=>dispatch('handleCheck')} class="block border w-6 bg-transparent border-gray-400  rounded-full h-6 overflow-hidden">
	{#if isChecked}
    <div class="flex justify-center items-center bg-gradient-to-br from-blue-400 to-indigo-400 w-6 h-6 ">
        <img class="w-3 h-3"  src={iconCheck} alt="">
    </div>
    {/if}
</button>
