<script>
    import {theme} from '$lib/store/store.ts'
	import { onMount } from 'svelte';
	import Footer from '../components/footer/Footer.svelte';
    import { loadLocalStorage } from '../utils/loadLocalStorage.ts';

    onMount(() => {
		loadLocalStorage()
	})

</script>
<main class={ $theme === 'dark' ? 'dark' : ''}>
    <div class="bg-white dark:bg-[#181824] min-h-[100vh]">
        <slot />
        <Footer />
    </div>
</main>