<script>
	import '../app.css';
	import Header from '../components/header/Header.svelte';
	import bgDark from '$lib/assets/img/bg-desktop-dark.jpg';
	import bgLight from '$lib/assets/img/bg-desktop-light.jpg';
	import Input from '../components/input/Input.svelte';
	import TaskItem from '../components/task-item/TaskItem.svelte';
	import { store } from '$lib/store/store.ts';
	import FilterTasks from '../components/filter-tasks/FilterTasks.svelte';
	import {theme} from '$lib/store/store.ts'

	export let data;

	
	if(data && data.tasks){
		store.setTasks(data.tasks)
	}
	
</script>

<section
	style={`background-image: url(${ $theme === 'dark' ? bgDark : bgLight}); background-size: cover; background-repeat: no-repeat; background-position: center`}
	class="h-[20rem] py-16 px-8"
	>
	<Header />
	<Input />
	<div class="max-w-3xl mx-auto relative -bottom-8">
		{#if $store.length > 0}
			
			<div
				class="rounded-md  bg-white w-full dark:bg-[#24273D] overflow-hidden shadow-md"
			>
				{#each $store as task}
					<TaskItem id={task.id} text={task.title} isChecked={task.completed} />
				{/each}
				<div class="flex justify-between items-center px-5 py-6 
				text-gray-500 dark:text-gray-400">
					<p>{$store.length} items left</p>
					<button class="dark:hover:text-gray-100 transition-all ease-in" on:click={() => store.deleteCompletedTasks()}>Clear completed</button>
				</div>
			</div>
		{:else}
			<div
				class="flex justify-center items-center bg-white dark:bg-[#24273D] font-bold rounded-md p-4 relative -bottom-5 shadow-md text-gray-500 dark:text-gray-400"
			>
				No tasks
			</div>
		{/if}
		<FilterTasks />
	</div>
</section>

