<script lang="ts">
    import { store } from '$lib/store/store.ts';

    const options = ['all', 'active', 'completed'];
    let optionActive = options[0]
    
    const handleFilter = (option: string) => {
        optionActive = option
        store.filterTasks(option)
    }

</script>


<div class="flex md:text-lg justify-center gap-4 py-4 text-gray-500 dark:text-gray-400  mt-10 font-semibold shadow-md bg-white rounded-md dark:bg-[#24273D] ">
    {#each options as option, i}
         <button class={option === optionActive ? 'text-blue-500' : '' + 'dark:hover:text-gray-100 hover:text-gray-600 transition-all ease-in'} on:click={()=> handleFilter(option)}>{ option.substring(0, 1).toUpperCase() + option.substring(1) }</button>
    {/each}
    
</div>