<script lang="ts">
    import {store} from '$lib/store/store.ts'
	import { supabase } from '$lib/supabaseClient';
	import { deleteTask, toggleOneTask } from '../../services/taskService';
	import Checked from '../checked/Checked.svelte';
    
    export let id: number | string;
    export let text=''
    export let isChecked = true

    const handleCheck = async () => {
        store.toggleOneTask(id)
        toggleOneTask(id, isChecked)
    }

    const handleDelete = async (id: number | string) => {
        store.removeTask(id)
        deleteTask(id)
    }
</script>

<div class=" flex items-center border-b dark:border-gray-600 gap-4 px-5 py-6">
    <div>
        <Checked on:handleCheck={handleCheck} isChecked={isChecked}/>
    </div>
    <div class="basis-full">
        <p class={ "text-sm md:text-lg dark:text-gray-100 text-gray-500 " + (isChecked && " line-through dark:text-gray-400")}>{ text}</p>
    </div>
    <div>
        <button on:click={() => handleDelete(id)}>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"><path class="fill-gray-400" fill-rule="evenodd" d="M16.97 0l.708.707L9.546 8.84l8.132 8.132-.707.707-8.132-8.132-8.132 8.132L0 16.97l8.132-8.132L0 .707.707 0 8.84 8.132 16.971 0z"/></svg>
        </button>
    </div>
</div>