<script>
	import darkIcon from '$lib/assets/icons/icon-sun.svg';
	import lightIcon from '$lib/assets/icons/icon-moon.svg';
	import { theme } from '$lib/store/store.ts';

	const handleTheme=()=>{
		theme.update(() => $theme === 'light' ? 'dark' : 'light')
		localStorage.setItem('theme', $theme)
	}
</script>

<header>
	<div class="flex max-w-3xl mx-auto justify-between items-start py-8">
		<h1 class="text-5xl font-bold text-white tracking-widest">TODO</h1>
		{#if $theme === 'dark'}
			<button on:click={() => handleTheme()} class="w-7">
				<img class="w-full"  src={darkIcon} alt="theme" />
			</button>
            { :else}
            <button on:click={() => handleTheme()} class="w-7">
                <img class="w-full" src={lightIcon} alt="theme" />
            </button>
		{/if}
	</div>
</header>
