<script>
    import iconGitlab from '$lib/assets/icons/icon-gitlab.svg'
</script>
<footer class="absolute bottom-0 w-full py-4">
    <div class="flex  justify-center items-center gap-4">
        <a class="flex text-sm gap-2 text-gray-500 dark:text-gray-400" href="https://gitlab.com/julianmorenos222/todo-list" target="_blank">
            <p>GitLab | Julian Moreno</p>
           <img class="w-6 h-6" src={iconGitlab} alt="">
        </a>
        <p class="text-center text-sm text-gray-500 dark:text-gray-400"> &copy; 2024</p>
    </div>
      
</footer>